<h1>Ultimate Hitboxes API</h1>
Your account on Ultimate-Hitboxes was successfully created. Enter the code you received by email here
<form action="" method="post">
    <input type="text" placeholder="Confirmation Code" name="confirmation_code" value="{{request.form.confirmation_code }}">
    <input class="btn btn-default" type="submit" value="Confirm">
  </form>
  <form action="/new_confirmationcode" method="post">
    <input class="btn btn-default" type="submit" name="change_confirmationcode" value="Send New Confirmation Code">
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}